<div class='page-Content'>
    <style>
        .element-Container {
            justify-content: center;
	        align-content: center;
        }

        .morgan-Freeman input {
            margin-bottom: 5px;
        }
    </style>
    <div class='element-Container'>
        <form class='tom-Hanks morgan-Freeman' method='POST' action='/admin/login'>
            <input type='text' name='username' placeholder='Kullanıcı adı'>
            <input type='password' name='password' placeholder='Parola'>
            <button type='submit'>Devam et</button>
        </form>
    </div>
</div>