<div class='page-Content'>
    <div class='element-Container center-Items'>
        <form class='login-Form' method='POST' action='/admin/login'>
            <input type='text' name='username' placeholder='Kullanıcı adı' class='search-Bar'>
            <input type='password' name='password' placeholder='Parola' class='search-Bar'>
            <button type='submit' class='button-Control'>Devam et</button>
        </form>
    </div>
</div>