<!--<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h6>Hakkımızda</h6>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor dictum nulla sit
          amet interdum. Integer lorem nunc, porttitor sed laoreet a, faucibus sed lacus. Nunc et est id felis tristique
          lacinia nec quis diam. Mauris lobortis magna quis pharetra vehicula. Mauris porttitor non massa sit amet
          sodales. Etiam libero lacus, auctor nec est ac, faucibus cursus est. Suspendisse vel finibus nisi. In nec
          tincidunt enim. Quisque sed ex sit amet lorem pharetra euismod. Morbi sit amet massa ante. Curabitur egestas
          pellentesque nisi nec sagittis.</p>
      </div>
    </div>
  </div>
</footer>-->
