<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img id="logo" src="/logo.png" alt="HOWTOTECH">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <div class="container">
                <ul class="navbar-nav mr-auto mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Anasayfa </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bolum">Bölüm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/universite">Universite</a>
                                   <li class="nav-item">
                        <a class="nav-link" href="/myo">MYO</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/konservatuvar">Konservatuvar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/fakulte">Fakülte</a>
                    </li>
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">Çıkış Yap</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>