<div class='page-Content'>
  <div class='element-Container'>
    <div class='page-Categories'>
      <div class='actions-Buttons'>
        <a href='/' class='link-Button'>Massa vitae tortor</a>
      </div>
      <div class='list-Categories'>
        <a href='/konservatuvar' class='item-Categories'>
          <img src='/img/Begonia.png' class='icon-Categories'>
          <span class='label-Categories'>Konservatuvar</span>
        </a>
        <a href='/fakulte' class='item-Categories'>
          <img src='/img/Cherry-Blossom.png' class='icon-Categories'>
          <span class='label-Categories'>Fakülte</span>
        </a>
        
        <a href='/myo' class='item-Categories'>
          <img src='/img/Coriander.png' class='icon-Categories'>
          <span class='label-Categories'>Meslek Yüksekokulu</span>
        </a>
      </div>
    </div>
    <div class='main-Content'>
      <div class='content-Toolbar'></div>

      <div class='list-Contents'>
        {{#each posts}}
        <!-- A sadece baslikta olacak -->
        <a href="/posts/show/{{_id}}" class='item-Content'>
          <h3 class='content-Header'>{{title}}</h3>
          <span class='content-Category'>{{category}}</span>
          <p class='content-Summary'>Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar
            pellentesque. Ultricies integer quis auctor elit sed vulputate mi. Odio tempor orci dapibus
            ultrices in
            iaculis nunc sed. Orci nulla pellentesque dignissim enim sit amet venenatis.</p>
        </a>
        {{/each}}
      </div>
    </div>
  </div>