<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-Width, initial-Scale=1, user-Scalable=no">
    {{!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
    <title>{{post.title}} Maltepe Sözlük</title>
    {{!-- font --}}
    {{!--
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700" rel="stylesheet"> --}}
    {{!-- bootstrap.css --}}
    <link rel="icon" type="image/x-icon" href="/img/Favicon.png">
    {{!--
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel='Stylesheet' href='/css/Default.css'>
</head>
<body>
    <div id='page-Body'>
        {{>_header}}
        {{{body}}}
    </div>
</body>
</html>